@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #2c2b2b;
  --gray-color: #c4c4c4;
  --purple-color: #5a0d67;
  --firm-color: #21062a;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: var(--white-color);
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
}

.header__content {
  padding-top: 60px;
  position: relative;
}

.header__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: inherit;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.header__text {
  margin: 30px 0;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: var(--purple-color);
  transition: all 0.5s;
  border: 1px solid var(--firm-color);
}

.button:hover {
  color: var(--purple-color);
  background-color: var(--white-color);
}

.header__social {
  padding: 70px 0 20px 70px;
}

.social {
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 5px;
}

.header__images {
  position: absolute;
  right: 0;
  bottom: -262px;
}

.services {
  padding-top: 350px;
}

.title {
  color: var(--firm-color);
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}

.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: var(--firm-color);
  position: absolute;
  top: 25px;
  margin-left: 20px;
}
.services__inner {
  display: flex;
  margin-bottom: 100px;
}
.services__content {
  width: 505px;
  margin-right: 96px;
}
.services__content-box {
}

.services__content-title {
  color: var(--purple-color);
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.services__content-textbox {
  margin-bottom: 57px;
}

.services__content-text {
  margin-bottom: 12px;
}

.button--decor {
  margin-top: -7px;
  color: var(--white-color);
  position: relative;
}
.button--decor::after {
  content: "ЖМИ";
  color: var(--gray-color);
  position: absolute;
  margin-left: 130px;
}

.button--decor::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--gray-color);
  position: absolute;
  top: 24px;
  right: -65px;
}

.services__list {
  list-style: none;
  counter-reset: my-counter;
}
.services__item {
  counter-increment: my-counter;
  border: 1px solid var(--gray-color);
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  transition: all 0.2s;
}

.services__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 20px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: var(--gray-color);
  transform: rotate(270deg);
  transition: all 0.5s;
}

.services__item:hover {
  border: 2px solid var(--purple-color);
  width: 500px;
}
.services__item:hover .services__item-title {
  line-height: 36px;
  color: var(--purple-color);
}
.services__item:hover::before {
  color: var(--purple-color);
}

.services__item-title {
  font-size: 24px;
  font-weight: 300;
}

.benefits {
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
}

.benefits__images {
  margin-right: 95px;
}

.benefits__content {
  width: 100%;
  color: var(--white-color);
}

.benefits__title {
  margin-left: 185px;
}

.benefits__list {
  list-style: none;
  background-color: var(--firm-color);
  padding: 25px 0 25px 185px;
}

.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}

.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
}

.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.benefits__item-text {
  color: var(--gray-color);
}

.carousel {
  margin-bottom: 100px;
}

.carousel__inner {
  margin: 0 --7px;
}

.carousel__item {
  margin: 0 7px;
}

.carousel__item-box {
  border: 1px solid var(--gray-color);
  padding: 6px 6px 16px 6px;
  text-align: center;
  transition: all 0.5s;
}

.carousel__item-box:hover {
  color: var(--white-color);
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.carousel .slick-dots button {
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0 10px;
  background-color: var(--gray-color);
  width: 50px;
  height: 1px;
}

.carousel .slick-active button {
  background-color: var(--purple-color);
  height: 3px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__list {
  list-style: none;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-title {
  color: var(--purple-color);
}

.contacts__form {
  background-color: var(--firm-color);
  padding: 50px 75px 57px;
}

.contacts__title {
  color: var(--white-color);
  margin-bottom: 16px;
  margin-left: 53px;
}
.contacts__title::after {
  background-color: #fff;
}

.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  padding: 0 15px;
}

.contacts__input::placeholder {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray-color);
}

.contacts__btn {
  border: none;
  color: var(--white-color);
  margin: 64px 100px 0;
  cursor: pointer;
}

.footer {
  background-color: var(--firm-color);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: var(--white-color);
  
}

@media (max-width: 1200px){
  body{
  display: none;
}
}